<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <title>Banque</title>
 </head>
<body>
    <div layout:fragment="content1" class="row g-4">
        <!-- Colonne gauche -->
        <div class="col-md-6" >
            <div class="card mb-3">
                <div class="card-header">Consultation d'un Compte</div>
                <div class="card-body">
                    <form th:action="@{/consulterCompte}" method="get">
                        <label for="codeCompte" class="form-label">Code Compte :</label>
                        <input type="text" name="codeCompte" th:value="${codeCompte}" class="form-control" required>
                        <button type="submit" class="btn btn-primary mt-3">
                            <i class="bi bi-check-circle"></i> OK
                        </button>
                    </form>
                </div>
            </div>

            <!-- Affichage des exceptions -->
            <div class="alert alert-danger" th:if="${exception}" role="alert">
                <strong>Erreur :</strong> <span th:text="${exception}"></span>
            </div>

            <div class="card mb-3" th:if="${compte}">
                <div class="card-header">Informations sur le Compte</div>
                <div class="card-body">
                    <p><strong>Client:</strong> <span th:text="${compte.client.nom}"></span></p>
                    <p><strong>Code :</strong> <span th:text="${compte.codeCompte}"></span></p>
                    <p><strong>Solde :</strong> <span th:text="${compte.solde}"></span></p>
                    <p><strong>Date de Création :</strong> <span th:text="${#dates.format(compte.dateCreation, 'dd/MM/yyyy')}"></span></p>
                    <p><strong>Type :</strong> <span th:text="${typeCompte}"></span></p>
                </div>
            </div>
        </div>

        <!-- Colonne droite -->
        <div class="col-md-6" th:if="${compte}" >
            <div class="card mb-3" sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="card-header">Liste des opérations</div>
                <div class="card-body">
                    <form th:action="@{/saveOperation}" method="post">
                        <div>
                            <label for="codeCompte" class="form-label">Code Compte :</label>
                            <input type="hidden" id="codeCompte" name="codeCompte" th:value="${codeCompte}" class="form-control" required>
                            <label th:text="${codeCompte}" class="form-label"></label>
                        </div>
                        <div>
                            <input checked="checked" type="radio" name="typeOperation" value="VERS" onchange="document.getElementById('forVirement').style.display='none'">
                            <label class="form-label">Versement</label>
                            <input type="radio" name="typeOperation" value="RETR" onchange="document.getElementById('forVirement').style.display='none'">
                            <label class="form-label">Retrait</label>
                            <input type="radio" name="typeOperation" value="VIR" onchange="document.getElementById('forVirement').style.display='block'">
                            <label class="form-label">Virement</label>
                        </div>
                        <div id="forVirement" style="display: none">
                            <label>Vers:</label>
                            <input type="text" name="codeCompte2">
                        </div>
                        <div>
                            <label>Montant:</label>
                            <input type="text" name="montant">
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">
                            <i class="bi bi-check-circle"></i> Save
                        </button>
                    </form>
                </div>
            </div>
            <!-- Affichage des exceptions -->
            <div class="alert alert-danger" th:if="${error}" role="alert">
                <strong>Erreur :</strong> <span th:text="${error}" ></span>
            </div>
            <div class="card mb-3">
                <div class="card-header">Liste des opérations</div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Numero</th>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Montant</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="operation : ${listOperation}">
                            <td th:text="${operation.numero}"></td>
                            <td th:text="${#dates.format(operation.dateOperation, 'dd/MM/yyyy')}"></td>
                            <td th:text="${operation.typeOperation}"></td>
                            <td th:text="${operation.montant}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Pagination" class="mt-3">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                            <a class="page-link" th:href="@{/consulterCompte(codeCompte=${codeCompte},page=${currentPage - 1})}">Précédent</a>
                        </li>
                        <li class="page-item" th:each="page,status : ${pages}"
                            th:classappend="${status.index == currentPage} ? 'active'">
                            <a class="page-link" th:href="@{/consulterCompte(codeCompte=${codeCompte}, page=${status.index})}" th:text="${status.index}"></a>
                        </li>
                        <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                            <a class="page-link" th:href="@{/consulterCompte(codeCompte=${codeCompte},page=${currentPage + 1})}">Suivant</a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>
</html>
